body {
    background-color: #fafaf0;
}

hr {
    background-color: #52796f;
}

button {
    width: 100%;
    color: #52796f !important;
    border-color: #52796f !important;
    margin-top: 10px;
}

button:hover {
    color: white !important;
    background-color: #52796f !important;
}

button:focus, button:active {
    box-shadow: none !important;
    outline: 0 !important;
}

.row {
    margin: 0;
}

.navbar {
    background-color: #52796f;
}

.nav-link {
    margin: 0 15px 0 15px;
    color: #f6f6ea;
}

.nav-link:hover {
    color: white;
}

.main-part .col .row {
    margin: 0 -10px 0 -10px;
}

.first-character {
    font-family: URW Chancery L, cursive;
    font-size: 150%;
    color: #52796f;
}

.parts-of-speech {
    text-align: center;
    border-radius: 15px;
    padding-bottom: 0 !important;
}

ul {
    text-align: left;
}

li {
    color: #52796f;
}

li a {
    color: black !important;
}

li a:hover {
    color: #52796f !important;
}

.content {
    height: auto;
    background-color: white;
    border: #52796f solid 1px;
    padding-bottom: 15px;
    margin-top: 20px;
}

.start-content {
    border-radius: 15px 15px 0 0;
}

.single-content {
    border-radius: 15px !important;
}

.end-content {
    border-radius: 0 0 15px 15px;
    margin-bottom: 20px;
}

.display-none {
    display: none;
}

#row-for-anim {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}
