form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

hr {
    width: 100%;
}

.question-label {
    display: flex;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    margin-bottom: 0.175em;
    width: min-content;
}

.question-label input {
    position: absolute;
    left: -9999px;
}

.question-label input:checked + span {
    background-color: #e1f6f0;
}

.question-label input:checked + span:before {
    box-shadow: inset 0 0 0 0.27em #52796f;
}

.question-label span {
    display: flex;
    align-items: center;
    padding: 0.22em 0.45em 0.22em 0.22em;
    border-radius: 99em;
    transition: 0.25s ease;
}

.question-label span:hover {
    background-color: #e1f6f0;
}

.question-label span:before {
    display: flex;
    flex-shrink: 0;
    content: "";
    background-color: #fff;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin-right: 0.375em;
    transition: 0.25s ease;
    box-shadow: inset 0 0 0 0.125em #52796f;
}

.incorrect-answer input + span {
    background-color: #fce4e4 !important;
}

.incorrect-answer input + span:before {
    box-shadow: inset 0 0 0 0.27em #a44848 !important;
}
