{% extends 'base.html' %}
{% load static %}
{% block title %}Авторизация{% endblock %}
{% block content %}
    <div class="col-3">
        <div class="row">
            <div class="col content single-content">
                <p></p>
                <form method="post">
                    {% csrf_token %}
                    {% for f in form %}
                        <p>{{ f }}</p>
                    {% endfor %}
                    {% if form.non_field_errors %}
                        <ul>
                            {% if form.non_field_errors.as_data.0.code == 'inactive' %}
                                <li>
                                    <span>
                                        {{ form.non_field_errors.0 }} Чтобы завершить регистрацию, нужно
                                        подтвердить электронную почту. Это можно сделать, нажав
                                    </span>
                                    <a class="a-authenticated-important">сюда</a>.
                                </li>
                            {% else %}
                                <li><span>{{ form.non_field_errors.0 }}</span></li>
                            {% endif %}
                        </ul>
                    {% endif %}
                    <button type="submit" class="btn btn-outline-secondary btn-registration" id="find-test">
                        Войти!
                    </button>
                </form>
                <div class="align-center link-registration">
                    Нет аккаунта? <a class="a-authenticated" href="{% url 'registration' %}">Зарегистрируйся!</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="{% static 'activate_user_redirect.js'%}"></script>
{% endblock %}