{% extends 'base.html' %}
{% load static %}
{% block title %}Главная страница{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'test_with_questions.css' %}">
{% endblock %}
{% block content %}
    <div class="col-4">
        <div class="row">
            <div class="col content start-content">
                <span>
                    <span class="big-signs">П</span>ривет! Ты попал на проект 'Ударяка',
                    с помощью него ты сможешь подготовиться к 4 заданию ЕГЭ
                    по русскому языку, в котором проверяют твое знание орфоэпических норм!
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col content left-content">
                <span>
                    <span class="big-signs">У</span>
                    тебя есть возможность создать собственный тест по ударениям, состоящий из любого количества слов.
                    Слова ты можешь использовать либо собственные, либо из нашего каталога!
                    {% if user_is_authenticated %}
                        <a href="">Создать тест!</a>
                    {% else %}
                        Чтобы создать тест, нужно <a class="a-authenticated" href="">войти</a>
                    {% endif %}
                </span>
            </div>
            <div class="col content right-content">
                <form>
                    <label for="test-id">
                        <span class="big-signs">Т</span>ы можешь пройти тест другого человека,
                        просто вписав id теста в поле ниже:
                    </label>
                    <input type="number" class="form-control shadow-none enter-inf" id="test-id" name="test-id"
                           placeholder="id теста">
                    <button type="submit" class="btn btn-outline-secondary" id="find-test">
                        Найти тест!
                    </button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col content end-content">
                <span>
                    <span class="big-signs">Т</span>ы можешь пройти быстрый тест на знание ударений,
                    состоящий всего из 10 вопросов, который не будет учитываться в твоей статистике!
                </span>
                <button type="button" class="btn btn-outline-secondary" id="start-test">
                    Пройти тест!
                </button>
            </div>
        </div>
        <div class="row display-none row-for-anim">
            <div class="col content">
                <span>
                    <span class="big-signs">В</span>ыберете верные ударения:
                </span>
                <form>
                </form>
                <button type="button" class="btn btn-outline-secondary" id="check-answers" disabled>
                    Проверить ответы!
                </button>
            </div>
        </div>
        <div class="row row-for-anim align-center">
            <div class="col content end-content">
                <span class="big-signs display-block">Результат</span>
                <span class="result">Ты еще не прошел тест!</span>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="{% static 'homepage_manage_test.js' %}"></script>
    <script src="{% static 'homepage_redirect_test.js' %}"></script>
{% endblock %}